<div class="container">
	<div class="jumbotron">
		<h1>'Allo, 'Allo!</h1>
		<p class="lead">
			<img src="images/yeoman.png" alt="I'm Yeoman"><br>
			Always a pleasure scaffolding your apps.
		</p>
		<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h2 style="line-height: 1.35em;">
			Pipas Conectadas é um projeto de arte e tecnologia, que busca transformar a cultura de "soltar pipa" nas favelas do Rio de Janeiro em uma experiência digital que gera novas formas de lazer e conexão social.
			</h2>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<img src="http://placekitten.com/g/500/300" width="100%">
		</div>
	</div>
	<hr>
	<!-- AS PIPAS -->
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h2>AS PIPAS</h2>
			<h4 style="line-height: 1.35em;">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
			pharetra tellus varius nibh finibus, vitae consectetur tortor
			ultricies. Nulla facilisi. Etiam nec eros hendrerit, congue orci vel,
			accumsan enim. Aliquam leo dolor, dignissim et dolor ac,
			maximus porttitor mi. Vestibulum eget faucibus orci.
			</h4>
			<h2>A COMPETIÇÃO</h2>
			<h4 style="line-height: 1.35em;">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
			pharetra tellus varius nibh finibus, vitae consectetur tortor
			ultricies. Nulla facilisi. Etiam nec eros hendrerit, congue orci vel,
			accumsan enim. Aliquam leo dolor, dignissim et dolor ac,
			maximus porttitor mi. Vestibulum eget faucibus orci.
			</h4>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5 col-xs-12">
			<h2>OS WORKSHOPS</h2>
			<h4 style="line-height: 1.35em;">
			Lorem ipsum Sint est irure reprehenderit ad dolore proident aliqua consectetur ullamco tempor dolor enim amet sed anim Duis nulla consectetur eu qui sint consequat anim Duis in adipisicing tempor dolore aute nisi est consequat Excepteur sint deserunt adipisicing.
			</h4>
			<br>
			<h4>VIDIGAL</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nam pharetra tellus varius nibh finibus, vitae consectetur
			tortor ultricies.</p>
			<h4>ROCINHA</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nam pharetra tellus varius nibh finibus, vitae consectetur
			tortor ultricies.</p>
			<h4>CANTAGALO</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nam pharetra tellus varius nibh finibus, vitae consectetur
			tortor ultricies.</p>
		</div>
	</div>
	<hr>
	<!-- O Equipo -->
	<div class="row">
		<div class="col-xs-12">
			<h1>O Equipo</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4" ng-repeat="person in team" style="margin-bottom: 30px;">
			<img ng-src="{{person.img}}" width="100%">
			<h4 style="margin: 5px auto">{{person.name}}</h4>
			<h5 style="margin: 2px auto">{{person.role}}</h5>
			<h5 style="margin: 2px auto; color: #999999"><a href="mailto:{{person.email}}"></a>{{person.email}}</h5>
		</div>
	</div>
	<!-- Contato -->
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<h1>Contato</h1>
			<h3 style="line-height: 1.35em;">To get more information about the projects, workshops, or possible
			partnerships, contact us at <a href="mailto:info@pipasconectadas.com">info@pipasconectadas.com</a></h3>
		</div>
	</div>
</div>