<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Postar Seu Gráfico</h2>
      <h4 style="line-height: 1.35em;">Postar seus dados aqui! Baixo o arquivo da sua pipa, e depois ajustar algumas coisas para apresentar seu gráfico.</h4>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-xs-8">
      <br>
      <div class="input-group">
        <input type="text" maxlength="80" class="form-control" aria-label="title" ng-model="projectTitle" placeholder="Titulo (80 car no maximo)">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Eschola um lugar <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="#">VIDIGAL</a></li>
            <li><a href="#">ROCINHA</a></li>
            <li><a href="#">CANTAGALO</a></li>
          </ul>
          </div><!-- /btn-group -->
          </div><!-- /input-group -->
        </div>
        <div class="col-xs-4"></div>
      </div>
      <!--  -->
      <div class="row">
        <div class="col-xs-8">
          <div flow-init="{target: '#'}"
            flow-file-added="added($file)"
            class="upload-area" flow-drop flow-drag-enter="style={background: '#D0FFA0'}" flow-drag-leave="style={background: 'none'}" ng-style="style" accept="text/plain">
            <h2 ng-hide="$flow.files.length > 0">Draga o arquivo aqui</h2>
            <h2 ng-show="$flow.files.length > 0">Uploading {{$flow.files[0].name}} ...</h2>
            <h4 ng-hide="$flow.files.length > 0">Ou</h4>
            <span accept="text/plain" ng-hide="$flow.files.length > 0" class="btn btn-default btn-lg" flow-btn>Escola um archivo<input accept="text/plain" ng-hide="$flow.files.length > 0" type="file" style="visibility: hidden; position: absolute;"></span>
          </div>
        </div>
      </div>
    </div>