<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/open-sans-fontface/open-sans.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="pipasApp" flow-prevent-drop>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
   <nav class="navbar navbar-default navbar-static-top no-v-space">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <div class="visible-sm visible-md visible-lg right-text padding-right">
              <a href="#" ng-click="facebookLogin()">
                <i class="fa fa-facebook-square"></i> login com Facebook
              </a>
            </div>
            <!-- For Mobile -->
            <li class="visible-xs">
              <a href="#" ng-click="facebookLogin()">
               <h4>
                  login com Facebook
               </h4>
              </a>
            </li>
            <li>
              <a ui-sref="allflights">
                <h4>
                  todos os vôos
                </h4>
              </a>
            </li>
            <li>
              <a ui-sref="competition">
                <h4>
                  o competição
                </h4>
              </a>
            </li>
            <li>
              <a ui-sref="about">
                <h4>
                  sobre o projeto
                </h4>
              </a>
            </li>
            <li>
              <a ui-sref="upload">
                <h4>
                  upload
                </h4>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div ui-view></div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">a</div>
          <div class="col-sm-4 center-text">
            <h6>Contate-nos</h6>
            <h6>info@pipasconectadas.com</h6>
          </div>
          <div class="col-sm-4 right-text visible-sm visible-md visible-lg">
            <h6>&nbsp;</h6>
            <h6>© Pipas Conectadas. All rights reserved.</h6>
          </div>
          <div class="col-sm-4 visible-xs center-text">
            <h6>&nbsp;</h6>
            <h6>© Pipas Conectadas. All rights reserved.</h6>
          </div>
        </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61651089-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/flow.js/dist/flow.js"></script>
    <script src="bower_components/ng-flow/dist/ng-flow.js"></script>
    <script src="bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="bower_components/parse-js-sdk/lib/parse.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/configs.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/allflights.js"></script>
        <script src="scripts/controllers/competition.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/upload.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <!-- endbuild -->
</body>
</html>
